.footer {
    background-color: #f8f6ff;
    padding: 4rem 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    color: #2f2361;
}

.left {
    max-width: 90%;
    margin-right: 15rem;
}

.heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 8px;
}

.subheading {
    font-size: 16px;
    font-weight: 600;
}

.hotlines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.org {
    min-width: 180px;
    text-align: center;
    margin-bottom: 1rem;
}

.orgName {
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 6px;
}
